<div class="bg-white border-r border-gray-200 shadow-xl flex flex-col justify-between h-screen">
    <!-- Room Area -->
    <div>
        <!-- Room Header -->
        <div class="p-4 border-b border-gray-200">
            <h2 class="font-bold text-gray-800">Current</h2>
        </div>

        <app-room-item [room]="room" [current]="true" />
    </div>
    <div class="flex-1 overflow-y-auto relative">
        <div class="bg-gray-300/30 cursor-not-allowed absolute top-0 left-0 w-full h-full flex items-center justify-center" *ngIf="loading">
            <app-icon name="loader" class="size-8 fill-green-500" />
        </div>
        <!-- Your Room List -->
        <div class="p-4 border-b border-gray-200" *ngIf="userRooms.length > 0">
            <h2 class="font-bold text-gray-800">Your's</h2>
        </div>

        <app-room-item [room]="item" (click)="selectRoom(item)" *ngFor="let item of userRooms" />

        <!-- Public Room List -->
        <div class="p-4 border-b border-gray-200" *ngIf="publicRooms.length > 0">
            <h2 class="font-bold text-gray-800">Public</h2>
        </div>

        <app-room-item [room]="item" (click)="selectRoom(item)" *ngFor="let item of publicRooms" />
    </div>
    <!-- Current User Profile -->
    <div class="p-3.5 border-t border-gray-200 flex items-center">
        <div class="w-10 h-10 rounded-lg flex items-center justify-center mr-3 text-white" [ngStyle]="{ 'background-color': user?.color }">
            {{ user?.name | toSymbol }}
        </div>
        <div>
            <h3 class="font-medium text-gray-900">You</h3>
            <p class="text-sm text-gray-500">Online</p>
        </div>

        <button (click)="logout()" class="ml-auto flex items-center space-x-1 cursor-pointer" title="Logout">
            <div class="p-2 rounded-full bg-red-50 hover:bg-red-100 transition-colors text-red-400 hover:text-red-600">
                <app-icon name="logout" />
            </div>
        </button>
    </div>
</div>
