<!-- Sidebar -->
<div class="bg-gray-50 border-r border-gray-300 flex flex-col h-screen">
  <!-- Sidebar Header -->
  <header
    class="p-4 border-b border-gray-300 flex justify-between items-center bg-indigo-600 text-white"
  [ngStyle] = "{'background-color' : user?.color || '#5850EC'}"
  >
    <h1 class="text-2xl font-semibold">DRNG</h1>
  </header>

  <!-- Contact List -->
  <div class="overflow-y-auto h-full p-3 mb-9 pb-20">
    <div
      *ngFor="let chat of chats"
      class="flex items-center mb-4 cursor-pointer hover:bg-gray-100 p-2 rounded-md">
      <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
        <img src="https://placehold.co/200x/e7c2ff/7315d1.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-12 h-12 rounded-full">
      </div>
      <div class="flex-1">
        <h2 class="text-lg font-semibold">{{chat.name}}</h2>
        <p class="text-gray-600">Check the last message of {{chat.name}}</p>
      </div>
    </div>

  </div>

  <div class="px-8 py-4 border-b border-gray-300 flex justify-between items-center ">
    <button type="submit" (click)="logout()" class="w-full bg-red-500 focus:bg-red-700 hover:bg-red-600 text-white px-6 py-2 font-xl rounded-xl sm:mb-0 cursor-pointer">Logout ({{user?.name}})</button>
  </div>
</div>
