<div *ngIf="part.type === 'media'" (click)="openModal($event, part.content)" class="flex flex-col relative">
    <img *ngIf="(part.content | castToMedia)?.type === 'image'" [src]="(part.content | castToMedia)?.path" class="w-30 bg-gray-100 rounded" [alt]="part.id" />
    <a
        *ngIf="(part.content | castToMedia)?.type !== 'image'"
        target="_blank"
        [href]="(part.content | castToMedia)?.path"
        class="w-30 bg-gray-100 rounded rotate-180"
    >
        <app-icon name="upload" class="scale-x-[-1]" />
    </a>
    <span class="text-xs absolute bottom-0 text-gray-700 px-1 truncate">{{ (part.content | castToMedia)?.name }}</span>
</div>
<p *ngIf="part.type === 'text'">{{ part.content }}</p>
<a
    *ngIf="part.type === 'link'"
    target="_blank"
    [ngClass]="local ? 'text-green-700 hover:text-green-500' : 'text-gray-200 hover:text-gray-50'"
    [href]="part.content"
    >{{ part.content }}</a
>
<div
    *ngIf="part.type === 'message'"
    class="bg-gray-200 text-gray-700 shadow-2xl rounded-lg opacity-80 text-sm border-l-4 p-2 flex flex-col"
    [ngStyle]="{ 'border-color': (part.content | castToMessage)?.user?.color || '#333' }"
>
    <div class="font-semibold">{{ (part.content | castToMessage)?.user?.name }}</div>
    <div *ngFor="let innerPart of (part.content | castToMessage)?.parts">
        <div *ngIf="innerPart.type === 'media'" (click)="openModal($event, innerPart.content)">
            <img
                *ngIf="(innerPart.content | castToMedia)?.type === 'image'"
                [src]="(innerPart.content | castToMedia)?.path"
                class="w-20"
                [alt]="innerPart.id"
            />
        </div>
        <p *ngIf="innerPart.type === 'text' || innerPart.type === 'link'">{{ innerPart.content }}</p>
    </div>
</div>
