<div class="p-2" [ngClass]="current ? 'bg-green-50 border-l-4 border-green-500' : 'bg-gray-50 hover:bg-green-50/25 cursor-pointer border-b border-b-gray-200'">
    <div class="flex items-center justify-between">
        <div class="flex">
            <div class="w-10 h-10 rounded-lg flex items-center justify-center mr-3" [ngClass]="current ? 'bg-green-100' : 'bg-gray-100'">
                <app-icon name="chat" [class]="current ? 'text-green-400' : 'text-gray-500'" />
            </div>
            <div>
                <h3 class="text-gray-900">{{ room.name }}</h3>
                <p class="text-sm text-gray-500">#{{ room.code }}</p>
            </div>
        </div>
        <div>
            <app-icon [name]="room.has_password ? 'locked' : 'open'" [class]="room.has_password ? 'stroke-amber-500' : 'stroke-green-500'" />
        </div>
    </div>
</div>
